/legacy
# Исключаем кеш и временные файлы Python
__pycache__/
*.py[cod]
*.swp
*.swo
*.DS_Store

# Исключаем виртуальные окружения
venv/
.env/
.venv/

# Логи и временные файлы
*.log
*.tmp
*.bak

# Исключаем файлы и каталоги IDE
.idea/
.vscode/

# Исключаем зависимости и сборочные файлы
*.egg-info/
dist/
build/
*.egg
*.whl

# Исключаем файлы конфигурации, содержащие секретные данные
.env
*.secret
